.container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

header {
  text-align: center;
  padding-block: 1.5rem;
  margin-bottom: 3rem;
}

@media (width < 1000px) {
  header {
    display: none;
  }
}
h1 {
  margin-block: 1rem 2.5rem;
}

#add-iten {
  display: flex;
  gap: 1rem;
  margin-bottom: 40px;
  & input[type="text"] {
    width: 100%;
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;
    padding: 11px 18px;
    font: var(--paragraph);
    color: var(--content-tertiary);
    &:hover {
      border: 2px solid var(--border-hover);
    }
    &:focus {
      border: 2px solid var(--always-white);
      outline: 2px solid var(--color-brand);
    }
  }
}

@media (width < 1000px) {
  #add-iten {
    flex-direction: column;
  }
}
button {
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-brand);
  border: none;
  font: var(--label);
  color: var(--always-white);
  width: 35%;
  cursor: pointer;
  &:hover {
    background-color: var(--color-brand-hover);
  }
}
@media (width < 1000px) {
  button {
    width: 100%;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  & img {
    cursor: pointer;
  }
  & li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-secondary);
    border-radius: 0.75rem;
    padding: 0.75rem;
    & div {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }
  }
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  background: url(../assets/icons/checkbox-default.svg);
  background-size: cover;
  display: block;
  width: 1rem;
  height: 1rem;
  
}

input[type="checkbox"]:hover::before {
  background: url(../assets/icons/checkbox-hover.svg);
  background-size: cover;
}

input[type="checkbox"]:checked::before {
  background: url(../assets/icons/checkbox-selected.svg);
  background-size: cover;
}

#alert {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-danger);
  padding: 0.75rem;
  border-radius: 0.75rem;
  font: var(--label);
  color: var(--always-white);
  & :nth-child(2){
    cursor: pointer;
  }
  
  & div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}
